Repository samis-group/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/provision, area/github, area/kubernetes

public runner base
  .github/workflows/actions-runner-base.yaml
Labels: area/github

change nas dir for photos
  kubernetes/home/apps/default/photoprism/app/helm-release.yaml
  kubernetes/home/apps/default/plex/app/helm-release.yaml
  kubernetes/home/apps/default/syncthing/app/helm-release.yaml
  provision/ansible/inventory/group_vars/all/vars.yml
Labels: area/provision, area/kubernetes

change nas dir for filebrowser
  kubernetes/home/apps/storage/filebrowser/app/helm-release.yaml
Labels: area/kubernetes

disable filebrowser and prometheus
  kubernetes/home/apps/monitoring/kustomization.yaml
  kubernetes/home/apps/storage/kustomization.yaml
Labels: area/kubernetes

fix filebrowser
  kubernetes/home/apps/storage/filebrowser/app/helm-release.yaml
  kubernetes/home/apps/storage/kustomization.yaml
Labels: area/kubernetes

prometheus from oci to https
  kubernetes/home/flux/repositories/helm/prometheus-community.yaml
Labels: area/kubernetes

disable some services for NFS migration
  kubernetes/home/apps/default/kustomization.yaml
Labels: area/kubernetes

revert containers
  kubernetes/home/apps/default/kustomization.yaml
Labels: area/kubernetes

remove services
  kubernetes/home/apps/default/kustomization.yaml
  kubernetes/home/apps/monitoring/kustomization.yaml
  kubernetes/home/apps/networking/kustomization.yaml
  kubernetes/home/apps/services/kustomization.yaml
  kubernetes/home/apps/storage/kustomization.yaml
Labels: area/kubernetes

update roles for homelab workstation image
  .github/workflows/workstation.yaml
  provision/ansible/roles/requirements.yml
Labels: area/provision, area/github

update homelab workstation image workflow
  .github/workflows/workstation.yaml
Labels: area/github

update homelab workstation image workflow
  .github/workflows/workstation.yaml
Labels: area/github

add named build context test
  .github/workflows/workstation.yaml
Labels: area/github

add named build context test
  .github/workflows/workstation.yaml
  docker/workstation/Dockerfile
Labels: area/github

added dockerdir context and add prometheus collections to ansible
  .taskfiles/Workstation.yml
  docker/workstation/Dockerfile
  provision/ansible/requirements.yml
  provision/ansible/roles/requirements.yml
Labels: area/provision

tnas playbook
  .taskfiles/Proxmox.yml
  provision/ansible/inventory/group_vars/all/doppler-vars-from-env.yml
  provision/ansible/playbooks/tnas.yml
Labels: area/provision

smartctl exporter
  provision/ansible/playbooks/tnas.yml
Labels: area/provision

.github/labeler.yaml:

---
area/provision:
  - "provision/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
