Repository samis-group/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/provision, area/github, area/kubernetes

ozbargain both ghcr creds
  kubernetes/home/apps/default/ozbargain/app/app.yaml
Labels: area/kubernetes

workflow updates
  .github/workflows/_debug-vars.yml.disabled
  .github/workflows/_docker-image.yaml
  .github/workflows/_helmrepository-sync.yaml.disabled
  .github/workflows/_kubeconform.yaml.disabled
  .github/workflows/actions-runner-base.yaml
  .github/workflows/workstation.yaml
Labels: area/github

rm api container
  kubernetes/home/apps/default/kustomization.yaml
Labels: area/kubernetes

my own runner base
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

runner set renamed
  .github/workflows/_debug-vars.yml.disabled
  .github/workflows/_docker-image.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/actions-runner-base.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/ubuntu-base.yaml
Labels: area/github, area/kubernetes

test ubuntu-base
  .github/workflows/debug-vars.yml
Labels: area/github

yq baked into images
  docker/actions-runner-base/Dockerfile
  docker/homelab-workstation/Dockerfile
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/ubuntu-base.yaml
Labels: area/kubernetes

terraform ghcr secret to actions-runner-system ns
  .taskfiles/Terraform.yml
  provision/terraform/doppler_variables.tf
  provision/terraform/kubernetes.tf
Labels: area/provision

wget and curl and jq in actions-runner-base
  docker/actions-runner-base/Dockerfile
Labels: none

runner dockerfile
  docker/actions-runner-base/Dockerfile
Labels: none

includes github
  .github/workflows/actions-runner-base.yaml
Labels: area/github

reusable workflows
  .github/workflows/_docker-image.yaml
  .github/workflows/_helmrepository-sync.yaml.disabled
  .github/workflows/_kubeconform.yaml.disabled
  .github/workflows/debug-vars.yml
  .github/workflows/workstation.yaml
Labels: area/github

fix paths
  docker/actions-runner-base/Dockerfile
  docker/actions-runner-base/assets/docker-shim.sh
  docker/homelab-workstation/Dockerfile
  docker/homelab-workstation/assets/.bash_aliases
  docker/homelab-workstation/assets/bin/doppler-test
  docker/homelab-workstation/assets/docker-entrypoint.sh
Labels: none

project context
  Makefile
  docker/homelab-workstation/Dockerfile
Labels: none

update reusable workflow location
  .github/workflows/actions-runner-base.yaml
  .github/workflows/workstation.yaml
Labels: area/github

workflow file back
  .github/workflows/actions-runner-base.yaml
  .github/workflows/workstation.yaml
Labels: area/github

badges
  README.md
Labels: none

debug
  .github/workflows/debug.yaml
Labels: area/github

debug
  .github/workflows/debug.yaml
Labels: area/github

ghcr credentials in runners
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/actions-runner-base.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/ubuntu-base.yaml
Labels: area/kubernetes

rename runners
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/actions-runner-base.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/ubuntu-base.yaml
Labels: area/kubernetes

terraform kubeconfig parsing
  .taskfiles/Terraform.yml
  provision/terraform/kubernetes.tf
  provision/terraform/variables.tf
Labels: area/provision

rm jellyfin and xteve
  kubernetes/home/apps/media/kustomization.yaml
Labels: area/kubernetes

go-task install script in wsl
  README.md
Labels: none

run tf login in workstation
  .taskfiles/Terraform.yml
Labels: none

docker local build
  .taskfiles/Workstation.yml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/actions-runner-base.yaml
Labels: area/kubernetes

actions runner scale set 0.9.1
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/actions-runner-base.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/ubuntu-base.yaml
Labels: area/kubernetes

workstation rename
  .taskfiles/Workstation.yml
  docker/workstation/.dockerignore
  docker/workstation/Dockerfile
  docker/workstation/assets/.bash_aliases
  docker/workstation/assets/bin/doppler-test
  docker/workstation/assets/docker-entrypoint.sh
Labels: none

actions update
  .github/workflows/workstation.yaml
Labels: area/github

workstation image
  .taskfiles/Workstation.yml
Labels: none

sonarr user and group context
  kubernetes/home/apps/default/sonarr/app/helm-release.yaml
Labels: area/kubernetes

radarr group and user context
  kubernetes/home/apps/default/radarr/app/helm-release.yaml
Labels: area/kubernetes

nzb group user context
  kubernetes/home/apps/default/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

vhs in plex
  kubernetes/home/apps/default/plex/app/helm-release.yaml
Labels: area/kubernetes

add pod security context for prowlarr volume mounts
  kubernetes/home/apps/default/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

ozbargain split
  kubernetes/home/apps/default/ozbargain/app/app.yaml
  kubernetes/home/apps/default/ozbargain/app/kustomization.yaml
  kubernetes/home/apps/default/ozbargain/app/pvc.yaml
  kubernetes/home/apps/default/ozbargain/app/secrets.yaml
Labels: area/kubernetes

cf-ddns changes
  kubernetes/home/apps/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  kubernetes/home/apps/networking/cloudflare-ddns/app/helm-release.yaml
  kubernetes/home/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/home/apps/networking/cloudflare-ddns/app/scripts/cloudflare-ddns.sh
  kubernetes/home/apps/networking/cloudflare-ddns/app/secrets.yaml
  kubernetes/home/flux/config/flux.yaml
Labels: area/kubernetes

png to svg
  README.md
  docs/assets/Homelab.png
Labels: none

change nfs family media path
  kubernetes/home/apps/default/photoprism/app/helm-release.yaml
  kubernetes/home/apps/default/plex/app/helm-release.yaml
  kubernetes/home/apps/default/syncthing/app/helm-release.yaml
  provision/ansible/inventory/group_vars/all/vars.yml
Labels: area/provision, area/kubernetes

plex
  kubernetes/home/apps/default/plex/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/provision:
  - "provision/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
