Repository samis-group/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/provision, area/github, area/kubernetes

.github/labeler.yaml:

---
area/provision:
  - "provision/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

run on scale set runners
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

actions-runner custom image
  .github/workflows/debug-vars.yml
  .github/workflows/docker-image-actions-runner-base.yaml
  docker/actions-runner-base/Dockerfile
  docker/actions-runner-base/docker-shim.sh
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/docker-daemon-config.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/samis-group.yaml
Labels: area/github, area/kubernetes

fix helm release name
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/samis-group.yaml
Labels: area/kubernetes

actions-runner-base
  .github/workflows/docker-image-actions-runner-base.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/github, area/kubernetes

fix workflow
  .github/workflows/docker-image-actions-runner-base.yaml
Labels: area/github

Update docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-actions-runner-base.yaml
Labels: area/github

runs on self hosted
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

workflow refactor
  .github/workflows/debug-vars.yml
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-workstation.yaml
  docker/homelab-workstation/.bash_aliases
  docker/homelab-workstation/.dockerignore
  docker/homelab-workstation/Dockerfile
  docker/homelab-workstation/bin/doppler-test
  docker/homelab-workstation/docker-entrypoint.sh
Labels: area/github

run on scale set
  .github/workflows/debug-vars.yml
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-workstation.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/samis-group.yaml
Labels: area/github, area/kubernetes

actions runner image update
  docker/actions-runner-base/Dockerfile
Labels: none

configit shim instead of mine
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/samis-group.yaml
Labels: area/kubernetes

remove nginx runner set
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/nginx.yaml
Labels: area/kubernetes

min runners 0
  README.md
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/samis-group.yaml
Labels: area/kubernetes

my runner works
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/samis-group.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none

fix homelab-workstation dir
  docker/homelab-workstation/Dockerfile
Labels: none

unused workflow
  .github/unused-workflows/debug-vars.yml
Labels: area/github

volsync
  kubernetes/home/apps/storage/kustomization.yaml
  kubernetes/home/apps/storage/namespace.yaml
  kubernetes/home/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/home/apps/storage/volsync/app/kustomization.yaml
  kubernetes/home/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/home/apps/storage/volsync/ks.yaml
  kubernetes/home/flux/repositories/helm/backube.yaml
  kubernetes/home/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

prowlarr flux interval
  kubernetes/home/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

workstation image fix
  .taskfiles/Workstation.yml
  docker/homelab-workstation/Dockerfile
Labels: none

fix dockerfile
  docker/homelab-workstation/Dockerfile
Labels: none

chmod 755
  docker/homelab-workstation/Dockerfile
Labels: none

storage ns fix
  kubernetes/home/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/home/apps/storage/volsync/app/kustomization.yaml
Labels: area/kubernetes

fix chmod command
  docker/homelab-workstation/Dockerfile
Labels: none

rook-ceph snapshot-controller and repos
  kubernetes/home/apps/storage/kustomization.yaml
  kubernetes/home/apps/storage/rook-ceph/app/helmrelease.yaml
  kubernetes/home/apps/storage/rook-ceph/app/kustomization.yaml
  kubernetes/home/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/home/apps/storage/rook-ceph/cluster/kustomization.yaml
  kubernetes/home/apps/storage/rook-ceph/ks.yaml
  kubernetes/home/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/home/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/home/apps/storage/snapshot-controller/ks.yaml
  kubernetes/home/flux/repositories/helm/kustomization.yaml
  kubernetes/home/flux/repositories/helm/piraeus.yaml
  kubernetes/home/flux/repositories/helm/rook-ceph.yaml
Labels: area/kubernetes

namespace
  kubernetes/home/apps/storage/rook-ceph/app/helmrelease.yaml
  kubernetes/home/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

qbit needs work
  .taskfiles/Doppler.yml
  .taskfiles/Lxc.yml
  provision/ansible/inventory/host_vars/dev01.yml
  provision/ansible/inventory/host_vars/qbittorrent.yml
  provision/ansible/playbooks/lxc.yml
  provision/ansible/roles/lxc/qbittorrent/base/tasks/main.yml
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/files/client.conf
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/tasks/main.yml
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/templates/credentials.txt.j2
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/files/qbittorrent.service
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/files/qbittorrent.yml
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/tasks/main.yml
  provision/ansible/roles/proxmox/provision-lxcs/tasks/main.yml
Labels: area/provision

init work
  Taskfile.yml
  provision/ansible/inventory/doppler_inventory.py
Labels: area/provision

fix hostname
  provision/ansible/inventory/host_vars/qbit-lxc.yml
Labels: area/provision

lxc qbit
  .taskfiles/Doppler.yml
  .taskfiles/Lxc.yml
  .taskfiles/Wsl.yml
  provision/ansible/inventory/host_vars/dev01.yml
  provision/ansible/inventory/host_vars/qbit-lxc.yml
  provision/ansible/playbooks/lxc.yml
  provision/ansible/playbooks/wsl.yml
  provision/ansible/playbooks/wsl_personal.yml
  provision/ansible/roles/lxc/qbittorrent/base/tasks/main.yml
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/files/client.conf
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/tasks/main.yml
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/templates/credentials.txt.j2
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/files/qbittorrent.service
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/files/qbittorrent.yml
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/tasks/main.yml
  provision/ansible/roles/proxmox/provision-lxcs/tasks/main.yml
  provision/ansible/roles/requirements.yml
  provision/ansible/tasks/wsl/configure_wsl.yml
  provision/ansible/tasks/wsl/git.yml
  provision/ansible/tasks/wsl/install_os_packages.yml
  provision/ansible/templates/wsl/.git-credentials.j2
Labels: area/provision

qbit-lxc needs work
  .taskfiles/Lxc.yml
  provision/ansible/inventory/group_vars/all/doppler-vars-from-env.yml
  provision/ansible/inventory/host_vars/qbit-lxc.yml
  provision/ansible/playbooks/lxc.yml
  provision/ansible/roles/lxc/qbittorrent/base/tasks/main.yml
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/files/client.conf
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/tasks/main.yml
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/templates/client.conf.j2
  provision/ansible/roles/lxc/qbittorrent/openvpn_client/templates/credentials.txt.j2
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/files/qbittorrent.yml
  provision/ansible/roles/lxc/qbittorrent/qbittorrent/tasks/main.yml
  provision/ansible/roles/proxmox/provision-lxcs/defaults/main.yml
  provision/ansible/roles/proxmox/provision-lxcs/tasks/main.yml
Labels: area/provision

truenas host cpu instead of default kvm64
  provision/ansible/roles/proxmox/truenas-vm/defaults/main.yml
  provision/ansible/roles/proxmox/truenas-vm/tasks/main.yml
Labels: area/provision

refactor to download iso from url and install
  .taskfiles/Proxmox.yml
  provision/ansible/inventory/host_vars/truenas.yml
  provision/ansible/playbooks/proxmox_vm.yml
  provision/ansible/playbooks/proxmox_vm_provision_from_disk_image.yml
  provision/ansible/playbooks/proxmox_vm_provision_from_template.yml
  provision/ansible/playbooks/proxmox_vms.yml
  provision/ansible/roles/proxmox/provision-vm-from-disk-image/README.md
  provision/ansible/roles/proxmox/provision-vm-from-disk-image/defaults/main.yml
  provision/ansible/roles/proxmox/provision-vm-from-disk-image/tasks/main.yml
  provision/ansible/roles/proxmox/provision-vm-from-template/defaults/main.yml
  provision/ansible/roles/proxmox/provision-vm-from-template/tasks/main.yml
  provision/ansible/roles/proxmox/truenas-vm/README.md
  provision/ansible/roles/proxmox/truenas-vm/defaults/main.yml
  provision/ansible/roles/proxmox/truenas-vm/tasks/main.yml
  provision/ansible/roles/proxmox/vm-post-tasks/tasks/main.yml
Labels: area/provision

30gb truenas boot disk
  provision/ansible/inventory/host_vars/truenas.yml
Labels: area/provision

gitlab runner lxc added back if ever needed
  .taskfiles/Lxc.yml
  provision/ansible/inventory/host_vars/dev01.yml
  provision/ansible/inventory/host_vars/github-runner1.yml
  provision/ansible/inventory/host_vars/gitlab-runner1.yml
  provision/ansible/inventory/host_vars/ldap01.yml
  provision/ansible/inventory/host_vars/qbit-lxc.yml
  provision/ansible/playbooks/lxc.yml
  provision/ansible/roles/lxc/gitlab-runner/tasks/configure_system.yml
  provision/ansible/roles/lxc/gitlab-runner/tasks/install_packages.yml
  provision/ansible/roles/lxc/gitlab-runner/tasks/main.yml
  provision/ansible/roles/proxmox/provision-lxcs/defaults/main.yml
  provision/ansible/roles/proxmox/provision-lxcs/tasks/main.yml
  provision/ansible/roles/requirements.yml
Labels: area/provision

doppler pull secret check and gitlab riemers added
  .taskfiles/Doppler.yml
  .taskfiles/Lxc.yml
  provision/ansible/playbooks/lxc.yml
  provision/ansible/roles/requirements.yml
Labels: area/provision

fix gitlab role name
  provision/ansible/playbooks/lxc.yml
Labels: area/provision

uncomment lxc
  provision/ansible/playbooks/lxc.yml
Labels: area/provision

defaults already same
  kubernetes/home/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none
