Repository samis-group/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/provision, area/github, area/kubernetes

fix demo workflow typo
  .github/workflows/github-actions-demo.yml
Labels: area/github

GITHUB_TOKEN secret instead of GHCR_TOKEN
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

workflow cosign
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

remove cosign
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

buildkit fix
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

dockerhub
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

fix tag
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

vars docker username
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

test workflow paths
  .github/workflows/docker-image-workstation.yaml
  .gitlab/.gitlab-webide.yml
Labels: area/github

functions lint
  docker/workstation/.bash_aliases
Labels: none

add tag latest
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

workstation registry to docker
  .github/workflows/docker-image-workstation.yaml
  .taskfiles/Workstation.yml
  docker/workstation/Dockerfile
  docker/workstation/docker-entrypoint.sh
Labels: area/github

tags
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

push to ghcr as well
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

pr tags in workflow
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

add sha short and log tags
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

schedule if used
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

older buildkit
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

workflow
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

back to gitlab image issue with entrypoint
  .taskfiles/Workstation.yml
Labels: none

workflow
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

fix dockerfile
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

tags
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

test multiple images workstation
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

token id perms reduce
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

workflow image package name
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

labels
  docker/workstation/Dockerfile
Labels: none

comment push tags
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

trigger workflow
  docker/workstation/Dockerfile
Labels: none

remove build and push to docker.io
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

chmod entrypoint
  docker/workstation/bin/doppler-test
  docker/workstation/docker-entrypoint.sh
Labels: none

taskfile local image name
  .taskfiles/Workstation.yml
Labels: none

migrated containers to ghcr
  .taskfiles/Flux.yml
  docs/doppler_secrets_example.md
  docs/linux_README.md
  docs/windows_README.md
  kubernetes/home/apps/default/api/app/deployment.yaml
  kubernetes/home/apps/default/nginx/app/deployment.yaml
  kubernetes/home/apps/default/ozbargain/app/app.yaml
  provision/terraform/kubernetes.tf
Labels: area/provision, area/kubernetes

debug vars
  .github/unused-workflows/debug-vars.yml
Labels: area/github

pipeline status badge
  README.md
Labels: none

readme badge workstation image
  README.md
Labels: none

gitmodule update
  .gitlab-ci.yml
  .gitmodules
  .sourceignore
Labels: none

doppler get secret and store in file and vice versa
  .gitignore
  .taskfiles/Ansible.yml
  .taskfiles/Docker.yml
  .taskfiles/Doppler.yml
  .taskfiles/K3s.yml
  .taskfiles/Lxc.yml
  .taskfiles/Proxmox.yml
  .taskfiles/Windows.yml
  .taskfiles/Wsl.yml
Labels: none

test arc runners
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/docker-daemon-config.yml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/home/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes

self-hosted runner test
  .github/workflows/docker-image-workstation.yaml
  kubernetes/home/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
Labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/provision:
  - "provision/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
