Repository samis-group/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/provision, area/github, area/kubernetes

Update README.md
  README.md
Labels: none

minio working
  kubernetes/home/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home/apps/storage/kustomization.yaml
  kubernetes/home/apps/storage/minio/app/externalsecret.yaml
  kubernetes/home/apps/storage/minio/app/helmrelease.yaml
  kubernetes/home/apps/storage/minio/app/ingress.yaml
  kubernetes/home/apps/storage/minio/app/kustomization.yaml
  kubernetes/home/apps/storage/minio/ks.yaml
  kubernetes/home/apps/storage/namespace.yaml
  provision/ansible/inventory/host_vars/k3s-vm1-dev.yml
  provision/ansible/inventory/host_vars/k3s-vm1.yml
Labels: area/provision, area/kubernetes

fix ks
  kubernetes/home/apps/storage/kustomization.yaml
Labels: area/kubernetes

Minio (#5)
  kubernetes/home/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home/apps/storage/kustomization.yaml
  kubernetes/home/apps/storage/minio/app/externalsecret.yaml
  kubernetes/home/apps/storage/minio/app/helmrelease.yaml
  kubernetes/home/apps/storage/minio/app/ingress.yaml
  kubernetes/home/apps/storage/minio/app/kustomization.yaml
  kubernetes/home/apps/storage/minio/ks.yaml
  kubernetes/home/apps/storage/namespace.yaml
  provision/ansible/inventory/host_vars/k3s-vm1-dev.yml
  provision/ansible/inventory/host_vars/k3s-vm1.yml
Labels: area/provision, area/kubernetes

volsync and snapshot-controller with restic templates
  kubernetes/home/apps/kube-system/kustomization.yaml
  kubernetes/home/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/home/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/home/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/home/apps/kube-system/volsync/app/helmrelease.yaml
  kubernetes/home/apps/kube-system/volsync/app/kustomization.yaml
  kubernetes/home/apps/kube-system/volsync/app/prometheusrule.yaml
  kubernetes/home/apps/kube-system/volsync/ks.yaml
  kubernetes/home/flux/repositories/helm/backube.yaml
  kubernetes/home/flux/repositories/helm/kustomization.yaml
  kubernetes/home/flux/repositories/helm/piraeus.yaml
  kubernetes/home/templates/volsync/minio/README.md
  kubernetes/home/templates/volsync/minio/claim.yaml
  kubernetes/home/templates/volsync/minio/externalsecret.yaml
  kubernetes/home/templates/volsync/minio/kustomization.yaml
  kubernetes/home/templates/volsync/minio/replicationdestination.yaml
  kubernetes/home/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes

bazarr manual files
  kubernetes/home/apps/default/bazarr/app/kustomization.yaml
  kubernetes/home/apps/default/bazarr/app/minio/claim.yaml
  kubernetes/home/apps/default/bazarr/app/minio/externalsecret.yaml
  kubernetes/home/apps/default/bazarr/app/minio/replicationdestination.yaml
  kubernetes/home/apps/default/bazarr/app/minio/replicationsource.yaml
  kubernetes/home/apps/default/bazarr/ks.yaml
  kubernetes/home/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/home/templates/volsync/minio/README.md
  kubernetes/home/templates/volsync/minio/claim.yaml
  kubernetes/home/templates/volsync/minio/replicationdestination.yaml
  kubernetes/home/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes

rook-ceph needs work
  kubernetes/home/apps/rook-ceph/kustomization.yaml
  kubernetes/home/apps/rook-ceph/namespace.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  kubernetes/home/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  kubernetes/home/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
  kubernetes/home/apps/rook-ceph/rook-ceph/add-ons/dashboard/kustomization.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/add-ons/kustomization.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

minio lb
  kubernetes/home/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

rook-ceph app working
  kubernetes/home/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/home/apps/kube-system/snapshot-controller/app/snapshotclass.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/home/flux/repositories/helm/kustomization.yaml
  kubernetes/home/flux/repositories/helm/rook-ceph.yaml
Labels: area/kubernetes

cpu limits rook-ceph
  kubernetes/home/apps/rook-ceph/kustomization.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

cpu resources requests
  kubernetes/home/apps/default/api/app/deployment.yaml
  kubernetes/home/apps/default/nginx/app/deployment.yaml
  kubernetes/home/apps/default/ozbargain/app/app.yaml
  kubernetes/home/apps/default/prowlarr/app/exportarr.yaml
  kubernetes/home/apps/default/radarr/app/exportarr.yaml
  kubernetes/home/apps/default/sabnzbd/app/exportarr.yaml
  kubernetes/home/apps/default/sabnzbd/app/helm-release.yaml
  kubernetes/home/apps/default/sonarr/app/exportarr.yaml
  kubernetes/home/apps/media/jellyfin/app/helm-release.yaml
Labels: area/kubernetes

cpu requests
  kubernetes/home/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

need to test resource limits
  kubernetes/home/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

csi addons disable
  kubernetes/home/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/home/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

image pull policy always
  kubernetes/home/apps/default/overseerr/app/helm-release.yaml
  kubernetes/home/apps/default/ozbargain/app/app.yaml
  kubernetes/home/apps/default/photoprism/app/helm-release.yaml
  kubernetes/home/apps/default/plex/app/helm-release.yaml
  kubernetes/home/apps/default/prowlarr/app/helm-release.yaml
  kubernetes/home/apps/default/qbittorrent/app/helm-release.yaml
  kubernetes/home/apps/default/radarr/app/helm-release.yaml
  kubernetes/home/apps/default/sabnzbd/app/helm-release.yaml
  kubernetes/home/apps/default/sonarr/app/helm-release.yaml
  kubernetes/home/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

image pull policy always
  kubernetes/home/apps/default/api/app/deployment.yaml
  kubernetes/home/apps/default/bazarr/app/helm-release.yaml
  kubernetes/home/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/home/apps/media/xteve/app/helm-release.yaml
  kubernetes/home/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

filebrowser init
  kubernetes/home/apps/default/filebrowser/app/helm-release.yaml
  kubernetes/home/apps/default/filebrowser/app/ingress.yaml
  kubernetes/home/apps/default/filebrowser/app/kustomization.yaml
  kubernetes/home/apps/default/filebrowser/app/pvc.yaml
  kubernetes/home/apps/default/filebrowser/ks.yaml
Labels: area/kubernetes

arm and amd64 workstation images
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

remove unifi
  kubernetes/home/apps/networking/kustomization.yaml
Labels: area/kubernetes

unifi traefik proxy
  kubernetes/home/apps/default/nginx/app/service.yaml
  kubernetes/home/apps/networking/traefik/external-ingresses/unifi.yaml
Labels: area/kubernetes

unifipoller fix
  kubernetes/home/apps/monitoring/unifi-poller/app/helm-release.yaml
Labels: area/kubernetes

docker portainer
  kubernetes/home/apps/networking/traefik/external-ingresses/kustomization.yaml
  kubernetes/home/apps/networking/traefik/external-ingresses/portainer-docker.yml
  provision/ansible/files/docker/compose-files/portainer.yml
  provision/ansible/inventory/group_vars/docker/vars.yml
  provision/ansible/playbooks/docker.yml
  provision/ansible/tasks/docker/bashrc.yml
  provision/ansible/unused/files/docker/appdata/influxdb/init_scripts/influx_init.iql
  provision/ansible/unused/files/docker/appdata/loki/config/loki-config.yaml
  provision/ansible/unused/files/docker/appdata/mqtt/config/mosquitto.conf
  provision/ansible/unused/files/docker/compose-files/auth.yml
  provision/ansible/unused/files/docker/compose-files/core.yml
  provision/ansible/unused/files/docker/compose-files/db.yml
  provision/ansible/unused/files/docker/compose-files/home.yml
  provision/ansible/unused/files/docker/compose-files/media.yml
  provision/ansible/unused/files/docker/compose-files/ozbargain.yml
  provision/ansible/unused/files/docker/compose-files/web.yml
  provision/ansible/unused/files/docker/scripts/email.sh
  provision/ansible/unused/tasks/docker-compose-v2.yml
  provision/ansible/unused/tasks/docker-git.yml
  provision/ansible/unused/tasks/linux-install-docker.yml
Labels: area/provision, area/kubernetes

fix wow function
  provision/ansible/tasks/docker/bashrc.yml
Labels: area/provision

k3s dev cluster automation
  .taskfiles/K3s.yml
  .taskfiles/Terraform.yml
  provision/terraform/bootstrap/doppler_environment.tf
  provision/terraform/bootstrap/doppler_service_tokens.tf
  provision/terraform/doppler_variables.tf
  provision/terraform/kubernetes.tf
Labels: area/provision

submodule update
  .taskfiles/K3s.yml
Labels: none

sleep 60 fix dev k3s
  .taskfiles/K3s.yml
Labels: none

add platforms to docker image build
  .github/workflows/docker-image-actions-runner-base.yaml
Labels: area/github

reusable workflow
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-reusable-workflow.yaml
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

reusable workflow
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

auto commit from Sami-W11-PC - reusable workflow
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

auto commit from Sami-W11-PC - reusable workflow
  .github/workflows/docker-image-actions-runner-base.yaml
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

auto commit from Sami-W11-PC - fix docker build
  provision/ansible/roles/requirements.yml
Labels: area/provision

auto commit from Sami-W11-PC - fix platforms
  .github/workflows/docker-image-reusable-workflow.yaml
  .github/workflows/docker-image-workstation.yaml
Labels: area/github

mail server
  .taskfiles/Proxmox.yml
  README.md
  provision/ansible/inventory/host_vars/mail1.yml
  provision/ansible/playbooks/proxmox_vms.yml
  provision/ansible/playbooks/test.yml
  provision/ansible/roles/proxmox/provision-vm-from-template/tasks/main.yml
  provision/ansible/roles/proxmox/vm-template-from-debian-cloud-image/defaults/main.yml
Labels: area/provision

plex lan iot change
  kubernetes/home/apps/default/plex/app/helm-release.yaml
Labels: area/kubernetes

filebrowser
  kubernetes/home/apps/default/filebrowser/app/ingress.yaml
  kubernetes/home/apps/networking/traefik/external-ingresses/kustomization.yaml
  kubernetes/home/apps/storage/filebrowser/app/helm-release.yaml
  kubernetes/home/apps/storage/filebrowser/app/ingress.yaml
  kubernetes/home/apps/storage/filebrowser/app/kustomization.yaml
  kubernetes/home/apps/storage/filebrowser/app/pvc.yaml
  kubernetes/home/apps/storage/filebrowser/ks.yaml
  kubernetes/home/apps/storage/kustomization.yaml
Labels: area/kubernetes

Filebrowser (#6)
  kubernetes/home/apps/networking/traefik/external-ingresses/kustomization.yaml
  kubernetes/home/apps/storage/filebrowser/app/helm-release.yaml
  kubernetes/home/apps/storage/filebrowser/app/ingress.yaml
  kubernetes/home/apps/storage/filebrowser/app/kustomization.yaml
  kubernetes/home/apps/storage/filebrowser/app/pvc.yaml
  kubernetes/home/apps/storage/filebrowser/ks.yaml
Labels: area/kubernetes

refactor workflows
  .github/unused-workflows/helmrepository-sync.yaml
  .github/unused-workflows/kubeconform.yaml
  .github/workflows/actions-runner-base.yaml
  .github/workflows/jobs/debug-vars.yml
  .github/workflows/jobs/docker-image.yaml
  .github/workflows/jobs/helmrepository-sync.yaml
  .github/workflows/jobs/kubeconform.yaml
  .github/workflows/workstation.yaml
Labels: area/github

update container registry for custom images
  kubernetes/home/apps/default/api/app/deployment.yaml
  kubernetes/home/apps/default/nginx/app/deployment.yaml
  kubernetes/home/apps/default/ozbargain/app/app.yaml
Labels: area/kubernetes

update container image repos
  kubernetes/home/apps/default/api/app/deployment.yaml
  kubernetes/home/apps/default/nginx/app/deployment.yaml
  kubernetes/home/apps/default/ozbargain/app/app.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/provision:
  - "provision/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
